<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--  
    Uncomment the following to enable the redis cache provider. Uncommenting this also requires the tag for
    MEDM.ClusteredCache to be uncommented and the appropriate settings applied. This tag is further down
    in the web.config file. Please note, that if you are going to use the redis provider then you will need
    to copy the plugin DLLs into the bin folder of the website.
    -->
    <!--<section name="MEDM.ClusteredCache" type="CADIS.ServerCache.Redis.RedisCacheProvider, CADIS.ServerCache.Redis"/>-->
    <!--
    Uncomment the following to enable the V2 theme. Uncommenting this also requires the tag for themeConfiguration
    to be uncommented.
    -->
    <section name="themeConfiguration" type="CADIS.WebUI.Configuration.ThemeConfigurationSection, CADIS.WebUI.Configuration" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ApplicationMode" value="Release" />
    <add key="Server" value="IHSMARKIT-NT73L\SQLEXPRESS" />
    <add key="Database" value="EDM19-2-35-315" />
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="IsSQLAzure" value="N" />
    <add key="HostPort" value="8080" />
    <!--
    The label mentioned here will be written to CADIS_SYS.CO_WEBUSERACTIVITY.
    The following replacements are available e.g. {FixedValue}.[PidSiteAddress]:-
      PidSiteAddress = W3WP PID: 5800 - myedm.ihsmarkit.com
      SiteAddress = myedm.ihsmarkit.com
      PID = 5800
      AppPoolId = EDMPool
      InstanceName = EDMSite
      ApplPhysicalPath = D:\inetpub\EDM\
      ServerName = myedm.ihsmarkit.com
      ServerAddr = 1.2.3.39
      ServerPort = 443
      ApplMdPath = /LM/W3SVC/4/ROOT
      LogonUser = edm\my.user
      RemoteHost = 1.2.3.17
      RemoteAddr = 1.2.3.17
      RemotePort = 61372
      RemoteUser = edm\my.user
      EDMVersion = 19.2.35.310
    -->
    <add key="WebUserActivityLabel" value="{FixedValue}.[PidSiteAddress]" />
    <!-- 
    Set the elapsed time (in minutes) before the EDM Web Server Service will expire a session
    The default value is 20 minutes. Note: In Process IIS Sessions are not used by WebUI. 
    -->
    <add key="Timeout" value="20" />
    <!-- 
    Set the elapsed time (in minutes) between each web browser poll to the webserver. 
    The poll checks to see if the server has already expired the session. The default value is 5 minutes.
    Note: This setting only effects the frequency at which a user is told there session as expired.
    It does not affect when the session expires.
    -->
    <add key="CheckSession" value="5" />
    <!-- 
    Set the number of login attempts before the user is locked out. 
    The default number of attempts is 5.
    -->
    <add key="LoginAttempts" value="5" />
    <!--  
    Set the duration that the user is locked out for in minutes.
    The default is 30 minutes.
    -->
    <add key="LoginLockoutDuration" value="30" />
    <!-- 
    If system date fields in the database should be converted to the users local timezone then specify the servers timezone below (leave empty for no conversion)
    The timezone should be of the format UTC +/- {number of hours} e.g. UTC, UTC+1, UTC+5, UTC-3
    -->
    <add key="ServerTimeZoneForSystemFields" value="UTC-4" />
    <!--
    Set this to the location for file uploads to be saved to. If left blank it will default to the root folder of the web site
    -->
    <add key="FileUploadPath" value="" />
    <!--
    Set this to the required secret needed to run processes via the Api service
    -->
    <add key="RunProcessApiSecret" value="ZABkAGYANgBmAGMAYgBkADYAZAA1AGIANAAzADkAMABiAGYANAAzADgAMABkADAAZAA1ADEAMwA2AGIAYgBmAA==" />
    <!--
    When set to "GET", Workflow Launcher elements will provide the workflow launcher token via a GET request query string (Default Behaviour)
    When set to "POST", Workflow Launcher elements will provide the workflow launcher token via the POST request body (Requires IIS)
    Possible Values:  GET/POST
    Default Value: GET
    -->
    <add key="WorkflowLauncherRequestType" value="GET" />
    <!--
    Set this to the location for generated custom theme files.
    -->
    <add key="ThemeBuilderPath" value="Client/theme" />
    <!--
    HSTS instructs the browser to communicate over HTTPS for the period specified https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security.
    HSTSMode has the following values: Enable, Disable, Remove, EnableAlways, RemoveAlways.  The default is Enable if unspecified.
    
    Enable -  When HSTSMode is set to Enable then Strict-Transport-Security is added in response header for HTTPS request. The default is Enable if unspecified.
    Disable - When HSTSMode is set to Disable then Strict-Transport-Security is not added in response header.
    Remove - When HSTSMode is set to Remove then Strict-Transport-Security is  added in response header  for HTTPS request with max-age value as Zero. The browser removes the domain from HSTS list when max-age is set to 0.
    EnableAlways - When HSTSMode is set to EnableAlways then Strict-Transport-Security is added in response header for both HTTP & HTTPS.
    RemoveAlways - When HSTSMode is set to Remove then Strict-Transport-Security is  added in response header  for both HTTP & HTTPS request with max-age value as Zero. The browser removes the domain from HSTS list when max-age is set to 0.
    -->
    <add key="HSTSMode" value="Enable" />
    <!--
    Assuming HSTS is enabled, the max-age value can be overridden using the MaxAgeHSTS key to set the time in seconds.
    The default is 31536000 seconds (one year) if unspecified. If it's set to 0 then it removes the domainname from HSTS List in the browser.   
    -->
    <add key="MaxAgeHSTS" value="31536000" />
    <!--
    When RedirectHttps is true then the webserver redirects HTTP requests to HTTPS via 301 page moved permanently. https://en.wikipedia.org/wiki/URL_redirection
    The default is false if unspecified.    
    -->
    <add key="RedirectHttps" value="false" />
    <!--
    When IncludeSubDomains is true  then HSTS rule applies to all of the site's subdomains as well.
    The default is false if unspecified.    
    -->
    <add key="HSTSIncludeSubDomains" value="false" />
    <!--
    When IncludePreload is true
    Google maintains an HSTS preload service. By following the guidelines and successfully submitting your domain, browsers will never connect to your domain using an insecure connection. 
    While the service is hosted by Google, all browsers have stated an intent to use (or actually started using) the preload list. 
    However, it is not part of the HSTS specification and should not be treated as official.
    For checking the Preload list: https://hstspreload.org/
    For removing site from Preload list: https://hstspreload.org/removal/
    The default is false if unspecified.    
    -->
    <add key="HSTSIncludePreload" value="false" />
    
  </appSettings>
  <!-- Clustered cache provider for redis. The ConnectionString is a comma seperated list of servers to use for redis -->
  <!--<MEDM.ClusteredCache ConnectionString="localhost" />-->
  <!-- Theme configuration. -->
  <themeConfiguration configSource="theme.config" />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="false" targetFramework="4.7.2" />
    <!-- Disable session for performance -->
    <sessionState mode="Off" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="2147483647" requestPathInvalidCharacters="" enableVersionHeader="false" />
    <!--
      Change this to "Windows" for enabling windows authentication.
      Anonymous authentication and Windows authentication will need
      to be enabled in IIS. Also you will need to uncomment the
      deny rule below.
    -->
    <authentication mode="Windows" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <authorization>
      <!-- uncomment to use windows auth -->
      <deny users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    
    <!-- EDM disable Dynamic compression, may cause minor performance degradation, however enabling can be reported as a potential security issue -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="WebDAV" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <!-- enable CSP protection -->
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' maps.googleapis.com 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data: maps.gstatic.com *.googleapis.com *.ggpht *.tile.openstreetmap.org; font-src 'self' data:;" />
        <!-- protect from embedding site vis IFRAME (but allow from same origin), to full protect use DENY -->
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <!-- protect from sniffing avalaible mime types -->
        <add name="X-Content-Type-Options" value="nosniff" />
        <!-- restrict cross-origin requests -->
        <add name="X-Permitted-Cross-Domain-Policies" value="master-only" />
        <!-- don't sent referer, prevent leaks with sensitive info in URLs -->
        <add name="Referrer-Policy" value="no-referrer" />
        <!-- enable XSS protection in the browser -->
        <add name="X-XSS-Protection" value="1; mode=block" />
        <!-- remove X-Powered-By information from response -->
        <remove name="X-Powered-By" />
        <!-- If more headers are added, please update the self hosting to include them (as that component does not read them from here) -->
        <add name="X-UA-Compatible" value="IE=edge" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <!-- Set headers to cache the static content for 1 day -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
      <!-- Add mime mappings for the font files -->
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
		<directoryBrowse enabled="false" />
  </system.webServer>
  <!-- Only the authentication endpoint is allowed to use the IIS auth system  -->
  <location path="api/authentication/credentials">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <!-- All API methods use token based authentication -->
  <location path="api">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
      <customErrors mode="Off" />
    </system.web>
  </location>
  <location path="Client">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Client" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.VersionControl.Client" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.DTSRuntimeWrap" publicKeyToken="89845DCD8080CC91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="amqmdnet" publicKeyToken="DD3CB1C9AAE9EC97" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.PipelineHost" publicKeyToken="89845DCD8080CC91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ManagedDTS" publicKeyToken="89845DCD8080CC91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.DTSPipelineWrap" publicKeyToken="89845DCD8080CC91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EDM.Logging" publicKeyToken="7cd40eafb2b40e73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.8.0" newVersion="1.5.8.0" />
      </dependentAssembly>
	  <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="4.0.4.1" newVersion="5.0.0.0" />
      </dependentAssembly>
	  <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="4.0.1.0" newVersion="4.0.1.1" />
    </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CadisEndPointBehaviour">
          <webHttp />
          <!--Necessary for Http/REST style services-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="CadisServerBehaviour">
          <!--must be false or the Url re-writing will not work-->
          <serviceMetadata httpGetEnabled="false" />
          <!-- must disable the help page or the default re-written url (/) will not work -->
          <serviceDebug httpHelpPageEnabled="false" includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="CadisServerBehaviour" name="CADIS.Web.UI.Markit">
        <endpoint address="" behaviorConfiguration="CadisEndPointBehaviour" binding="webHttpBinding" name="CADIS.WebUI" contract="CADIS.Web.UI.IMarkit">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>